Flask==2.3.2
flask-cors
matplotlib==3.8.0
pandas==2.1.0
numpy==1.26.0
nltk>=3.8.1
scikit-learn==1.3.0
yfinance==0.2.28
requests==2.32.0
praw
python-dotenv==1.0.1
newsapi-python==0.2.7
wordcloud==1.9.2
